# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment config
.env
.env.*

# Python distribution / packaging
*.egg-info/
dist/
build/
